<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="form-check">
        <label class="form-check-label">
            <input id="checkboxChecked" type="checkbox" class="form-check-input" name="checkboxChecked">Option 1
        </label>
    </div>
    <div>
        <label id="checkboxText"></label>
    </div>
</div>
<div class="container">
    <input id="timepicker" width="276"/>
    <script type="text/javascript">
        require(['jquery', 'timepicker'], function ($) {
            $('#timepicker').timepicker({
                uiLibrary: 'bootstrap4'
            });
        });
    </script>
</div>
</div>