<!--<div class="container-fluid">-->
<!--    <div data-notification-type class="container-fluid" role="alert">-->
<!--        <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--        <span data-notification-message></span>-->
<!--    </div>-->
<!--</div>-->
<div id="modal_view" class="modal" tabindex="-1" role="dialog">
    <div data-notification-type class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 name="title" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p name="message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

